@using AtomicSeller.Helpers.Navigation
@using AtomicSeller.Helpers.Razor
@{
    var navigationHelper = NavigationHelper.Instance;
    navigationHelper.EnsureActiveItem();
}
<ul class="main-navigation-menu">
    <li>
        <div class="text-center">
            <img src="/Resources/img/LogoAtomic.gif" width="250" />
        </div>
    </li>
    @foreach (var menuItem in navigationHelper.MenuItems)
    {
        <li>
            @if (menuItem.Children.Count > 0)
            {
                <a href="#" class="@menuItem.GetCSSClasses()">
                    <i class="mdi @(menuItem.IsOpen ? "mdi-chevron-up" : "mdi-chevron-down") pull-right"></i>
                    <i class="mdi @menuItem.Icon"></i>
                    <p>@menuItem.Label</p>
                </a>

                <ul 
                    @if (!menuItem.IsOpen) { <text> style="display: none;" </text> }>                    
                    @if (menuItem.Enabled)
                    {
                        foreach (var subItem in menuItem.Children)
                        {
                            <li @HtmlHelpers.AnonymousObjectToHTMLString(subItem.HtmlAttributes)>
                                <a href="@if (subItem.Controller != null) { @Url.Action(subItem.Action, subItem.Controller) }"
                                   class="@subItem.GetCSSClasses()">
                                    <i class="mdi @subItem.Icon"></i>
                                    <p>@subItem.Label</p>
                                </a>
                            </li>
                        }
                    }
                </ul>
            }
            else
            {
                <a href="@Url.Action(menuItem.Action, menuItem.Controller)" class="@menuItem.GetCSSClasses()">
                    <i class="mdi @menuItem.Icon"></i>
                    <p>@menuItem.Label</p>
                </a>
            }
        </li>
    }
</ul>

<ul class="footer">
    @foreach (var menuItem in navigationHelper.FooterItems)
    {
        <li>
            <a href="@Url.Action(menuItem.Action, menuItem.Controller)" class="@menuItem.GetCSSClasses()">
                <i class="mdi @menuItem.Icon"></i>
                <p>@menuItem.Label</p>
            </a>
        </li>
    }
</ul>
